/* 
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.steps {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.vertical-timeline-element-content {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
}

.vertical-timeline-element-content h3 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 1.2em;
    color: #000;
}

.vertical-timeline-element-content p {
    margin: 0;
    font-size: 1em;
    color: #555;
}

.vertical-timeline-element-date {
    font-size: 0.9em;
    color: #999;
}

.vertical-timeline-element-icon {
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    margin-left: -20px;
}

.vertical-timeline-element-icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.vertical-timeline-element-date {
    color: #000;
}

.vertical-timeline::before {
    background: grey;
    left: 100000px; 

.icon-adjustment {
    position: relative;
    right: -5px;
}
 */
