accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
annoy
anyio
async-timeout
attrs
beautifulsoup4
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
coloredlogs
confection
cymem
daily-python
dataclasses-json
Deprecated
dirtyjson
distro
dnspython
# en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
exceptiongroup
fastapi
fastapi-cli
fastembed
filelock
flatbuffers
frozenlist
fsspec
future
greenlet
grpcio
grpcio-tools
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
lark
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-huggingface
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
loguru
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
mpmath
multidict
murmurhash
mypy-extensions
nemoguardrails
nest-asyncio
networkx
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
nvidia-riva-client
onnx
onnxruntime
openai
orjson
packaging
pandas
pillow
pipecat-ai
preshed
prompt_toolkit
protobuf
psutil
pydantic
pydantic_core
Pygments
pyloudnorm
pymongo
pypdf
PyStemmer
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-toolbelt
rich
safetensors
scipy
shellingham
simpleeval
six
smart-open
sniffio
snowballstemmer
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
striprtf
sympy
tenacity
text-generation
thinc
tiktoken
tokenizers
torch
torchaudio
tqdm
transformers
triton
typer
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
uvloop
wasabi
watchdog
watchfiles
wcwidth
weasel
websockets
wrapt
yarl